
<header class="fixed-top bg-white h-80">
  <div class="container-fluid">
    <div class="row header-content">
      <div class="col container header-left">
        <div class="container">
          <div class="row">
            <div class="col-1 logo-container">
              <img routerLink="" src="H&M-Logo.png" alt="" class="logo">
            </div>

            <app-category-list class="col"></app-category-list>



          </div>
        </div>
      </div>


      <div class="col container header-right">
        <div class="header-right">
          <div class="icon-button-container">
            <button mat-icon-button (click)="toggleSearchBar()" aria-label="Search icon-button">
              <mat-icon>search</mat-icon>
            </button>
            <input [class.visible]="isSearchVisible" [(ngModel)]="searchQuery" (keydown.enter)="performSearch()"
              type="text" placeholder="Search..." class="search-bar visible" />


            <!-- Show Login Button if the user is NOT logged in -->
            <button mat-icon-button *ngIf="!authService.isLoggedIn()" class="example-icon" routerLink="login"
              aria-label="Login button">
              <mat-icon>perm_identity</mat-icon>
            </button>

            <!-- Show Logout Button if the user IS logged in -->
            <button mat-icon-button *ngIf="authService.isLoggedIn()" class="example-icon" (click)="logout()"
              aria-label="Logout button">
              <mat-icon>logout</mat-icon>
            </button>


            <button mat-icon-button class="example-icon " [routerLink]="['/wishlist']"
              aria-label="Example icon-button with heart icon">
              <mat-icon>favorite_border</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" [routerLink]="['/cart']" aria-label="Cart icon-button"
              matBadge="{{ cartItemCount }}" matBadgePosition="above after" matBadgeColor="warn">
              <mat-icon>redeem</mat-icon>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>