<mat-toolbar>
  <div class="header-left">
      <div>
          <a mat-button href="#" aria-label="logo" class="logo-link">
              <img src="H&M-Logo.png" alt>
          </a>
        </div>
      <app-category-list></app-category-list>
    </div>

  <div class="header-right">
      <div class="icon-button-container">
          <button mat-icon-button class="example-icon "
              aria-label="Example icon-button with heart icon">
              <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button class="example-icon " routerLink="login"
              aria-label="Example icon-button with heart icon">
              <mat-icon>perm_identity</mat-icon>
          </button>
          <button mat-icon-button class="example-icon "
              aria-label="Example icon-button with heart icon">
              <mat-icon>favorite_border</mat-icon>
          </button>
          <button mat-icon-button ="example-icon" routerLink="cart"
              aria-label="Example icon-button with share icon">
              <mat-icon>redeem</mat-icon>
          </button>
      </div>
  </div>
</mat-toolbar>