<mat-toolbar>
  <a mat-button href="#" aria-label="logo" class="logo-link">
    <img src="H&M-Logo.png" alt="">
  </a>
  <div>
    <button mat-icon-button aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
    </button>
    <span>
      <a href="">WOMEN</a>
      <a href="">MEN</a>
      <a href="">KIDS</a>
      <a href="">HOME</a>
      <a href="">BEAUTY</a>
    </span>
  </div>
  
  <span class="example-spacer container">
    <!-- <div class="row">
      <div class="col">
        <a href="#">WOMEN</a>
      </div>
      <div class="col">
        <a href="#">MEN</a>
      </div>
      <div class="col">
        <a href="#">KIDS</a>
      </div>
      <div class="col">
        <a href="#">HOME</a>
      </div>
      <div class="col">
        <a href="#">BEAUTY</a>
      </div>
    </div> -->

  </span>

  <button mat-icon-button class="example-icon " aria-label="Example icon-button with heart icon">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="example-icon " aria-label="Example icon-button with heart icon">
    <mat-icon>perm_identity</mat-icon>
  </button>
  <button mat-icon-button class="example-icon " aria-label="Example icon-button with heart icon">
    <mat-icon>favorite_border</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>redeem</mat-icon>
  </button>
</mat-toolbar>