<div class="cart-header">
  <h1>SHOPPING BAG</h1>
  <div *ngIf="cartItems.length!=0">
    {{cartItems.length}} {{cartItems.length > 1 ? 'ITEMS' : 'ITEM' }}
  </div>
</div>

<div class="cart-body">
  <div class="cart-content">
    <div *ngFor="let item of cartItems" class="cart-items">
      <div class="cart-items-picture">
        <img class="item-picture" [src]="item.image" alt="{{ item.productName }}">
      </div>
      <div class="cart-item-content">
        <div class="cart-item-header">
          <p>{{ item.productName }}</p>
          <p>{{ item.productPrice | currency }}</p>
        </div>
        <div class="cart-item-content">
          <!-- <div class="quantity-change">
            <button class="quantity-btn" (click)="decrementQuantity(item)">-</button>
            
            <input class="quantity-input" type="number" [(ngModel)]="item.quantity" (ngModelChange)="onQuantityChange(item)" />
            <button class="quantity-btn" (click)="incrementQuantity(item)">+</button>
          </div> -->
          <div>
            <span>Total: </span><span>{{ item.productPrice * item.quantity | currency }}</span>
          </div>
        </div>
      </div>
    </div>

    <h2 *ngIf="cartItems.length === 0">YOUR SHOPPING BAG IS EMPTY!</h2>
  </div>

  <div class="checkout">
    <div class="checkout-header">
      <div>TOTAL:</div>
      <div>{{ getTotalPrice() | currency }}</div>
    </div>
    <button>CONTINUE TO CHECKOUT</button>
    <button>LOGIN</button>
  </div>
</div>
