<div class="cart-header"><h1>SHOPPING BAG</h1></div>
<div class="cart-body">
    <div class="cart-content">
        <h2>YOUR SHOPPING BAG IS EMPTY!</h2>
        <p>sign in to save or access saved item in your shopping bag</p>
    </div>
    <div class="checkout">
        <div class="checkout-header">
            <div>DISCOUNT</div>
            <div>ADD</div>
        </div>
        <div class="checkout-header">
            <div>TOTAL:</div>
            <div>$00.00</div>
        </div>
        <button>COUNTINUES TO CHECKOUT</button>
        <button>LOGIN</button>
    </div>
</div>