<div class="cart-header">
    <h1>FAVOURITE</h1>
    <div *ngIf="cartItems.length!=0">
        {{cartItems.length}} {{cartItems.length > 1 ? 'ITEMS' : 'ITEM' }}
      </div>
</div>
<h2 *ngIf="cartItems.length === 0">YOUR FAVOURITE IS EMPTY!</h2>
<div class="cart-body">
        <div *ngFor="let item of cartItems" class="cart-item">
            <img class="item-picture" [src]="item.image" alt="">
            <div class="item-heading">
                <p>{{ item.productName }}</p>
                <p>{{ item.productPrice | currency }}</p>
            </div>
            <div class="btn-container">
                <button class="btn" (click)="addToCart(item)">ADD TO CART</button>
                <!-- <button class="btn" (click)="remove(item)">REMOVE</button> -->
            </div>
        </div>
</div>
