<div class="banner-container">
    <section class="banner-section">
        <a href>
            <div class="banner-picture">
                <img
                    src="https://image.hm.com/content/dam/global_campaigns/season_00/ladies/startpage-assets/wk37/12-sep/new-in-4x5-women-startpage-wk37.jpg?imwidth=1536"
                    alt>
            </div>
            <div class="teaser-shop">
                <p class="teaser-shop-heading">CURATED BY: LOLI</p>
                <span class="teaser-shop-button">VIEW EDIT</span>
            </div>
        </a>
    </section>

    <section class="banner-section">
        <a href>
            <div class="banner-picture">
                <img
                    src="https://image.hm.com/content/dam/global_campaigns/the_studio_all/studio-sep-2024/london-event-w37/2060-4x5-11-event-london-wk37.jpg?imwidth=1536"
                    alt>
            </div>
            <div class="teaser-shop">
                <p class="teaser-shop-heading ">EDIT: LILA MOSS</p>
                <span class="teaser-shop-button ">VIEW EDIT</span>
            </div>
        </a>
    </section>
</div>

<div class="banner-container">
    <section class="banner-section">
        <a href>
            <div class="banner-picture">
                <img
                    src="https://image.hm.com/content/dam/global_campaigns/season_00/ladies/startpage-assets/wk37/12-sep/2060-4x5-loli-women-startpage-wk37.jpg?imwidth=1536"
                    alt>
            </div>
            <div class="teaser-shop">
                <p class="shop-heading">CURATED BY: LOLI</p>
                <span class="shop-button">VIEW EDIT</span>
            </div>
        </a>
    </section>

    <section class="banner-section">
        <a href>
            <div class="banner-picture">
                <img
                    src="https://image.hm.com/content/dam/global_campaigns/season_00/ladies/startpage-assets/wk37/12-sep/2060-4x5-lila-moss-women-startpage-wk37.jpg?imwidth=1536"
                    alt>
            </div>
            <div class="teaser-shop">
                <p class="shop-heading ">EDIT: LILA MOSS</p>
                <span class="shop-button ">VIEW EDIT</span>
            </div>
        </a>
    </section>
</div>
