<div class="banner-container">
    <section class="banner-section">
        <a href>
            <div class="banner-picture">
                <img
                    [src]="pic_a"
                    alt>
            </div>
            <div class="teaser-shop">
                <p class="teaser-shop-heading">CURATED BY: LOLI</p>
                <span class="teaser-shop-button">VIEW EDIT</span>
            </div>
        </a>
    </section>

    <section class="banner-section">
        <a href>
            <div class="banner-picture">
                <img
                    [src]="[pic_b]"
                    alt>
            </div>
            <div class="teaser-shop">
                <p class="teaser-shop-heading ">EDIT: LILA MOSS</p>
                <span class="teaser-shop-button ">VIEW EDIT</span>
            </div>
        </a>
    </section>
</div>

<div class="banner-container">
    <section class="banner-section">
        <a href>
            <div class="banner-picture">
                <img
                    [src]="[pic_c]"
                    alt>
            </div>
            <div class="teaser-shop">
                <p class="shop-heading">CURATED BY: LOLI</p>
                <span class="shop-button">VIEW EDIT</span>
            </div>
        </a>
    </section>

    <section class="banner-section">
        <a href>
            <div class="banner-picture">
                <img
                    [src]="[pic_d]"
                    alt>
            </div>
            <div class="teaser-shop">
                <p class="shop-heading ">EDIT: LILA MOSS</p>
                <span class="shop-button ">VIEW EDIT</span>
            </div>
        </a>
    </section>
</div>
