.product-detail-container{
    margin: 85px 0 100px 0  ; 
}

.product-image{
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
    
.B-section{
    justify-content: center;
    align-items: center;
    padding: 50px ;padding: 100px ;
}

B.B-section-content{
    width: 100%;

}

.spacer{
    height: 150px;
}