
<!-- main content area -->
<main>

    <!-- Header start -->
<mat-toolbar>
    <div class="header-left">
        <div>
            <a mat-button href="#" aria-label="logo" class="logo-link">
                <img src="H&M-Logo.png" alt="">
            </a>
        </div>
        <div class="nav-container">
            <button mat-icon-button aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <div>
                <nav aria-label="navigation links" class="">
                    <ul class="nav-ul">
                        <li class=""><span><a class="page-link" aria-current="page"
                                    href="/en_us/women.html"><span class="a9ebaf">Women</span></a></span></li>
                        <li class=""><span><a class="page-link " aria-current="page"
                                    href="/en_us/men.html"><span class="">Men</span></a></span></li>
                        <li class=""><span><a class="page-link " aria-current="page"
                                    href="/en_us/kids.html"><span class="">Kids</span></a></span></li>
                        <li class=""><span><a class="page-link " aria-current="page"
                                    href="/en_us/home.html"><span class="">Home</span></a></span></li>
                        <li class=""><span><a class="page-link " aria-current="page"
                                    href="/en_us/beauty.html"><span class="">Beauty</span></a></span></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="header-right">
        <div class="icon-button-container">
            <button mat-icon-button class="example-icon " aria-label="Example icon-button with heart icon">
            <mat-icon>search</mat-icon>
            </button>
             <button mat-icon-button class="example-icon " aria-label="Example icon-button with heart icon">
            <mat-icon>perm_identity</mat-icon>
            </button>
            <button mat-icon-button class="example-icon " aria-label="Example icon-button with heart icon">
            <mat-icon>favorite_border</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>redeem</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
<!-- Header End -->
    <!-- <app-video-player></app-video-player> -->


    <!-- Teaser -->
    <!-- <mat-grid-list cols="2" rowHeight="1:2" gutterSize="0px">
    <mat-grid-tile>
        <img src="https://image.hm.com/content/dam/global_campaigns/season_00/ladies/startpage-assets/wk37/12-sep/new-in-4x5-women-startpage-wk37.jpg?imwidth=1536" alt="">
        <div>
            <a href="#">Curated by : LOLI</a>
        </div>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <img src="https://image.hm.com/content/dam/global_campaigns/the_studio_all/studio-sep-2024/london-event-w37/2060-4x5-11-event-london-wk37.jpg?imwidth=1536" alt="">
    </mat-grid-tile>
</mat-grid-list> -->
    <!-- Teaser End -->

<app-footer></app-footer>

</main>
<!-- end main content area -->