
.register-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(4, 4, 105);
    color: white;
    border: none;
    cursor: pointer;
  }
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto;
    background-color: #f9f9f9;
  }
  
  .google-signup-btn {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .google-signup-btn:hover {
    background-color: #357ae8;
  }
  .container {
    h2 {
      font-size: 2.5rem;
    }
  
    p {
      font-size: 1rem;
      a {
        color: #007bff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .form-control {
      padding: 10px;
      font-size: 1rem;
    }
  
    .btn {
      padding: 10px;
      font-size: 1rem;
      i {
        margin-right: 10px;
      }
    }
  
    .vr {
      width: 1px;
      background-color: #ddd;
      height: 100%;
    }
  }
  .custom-signup-btn {
    background-color: white;   /* White background */
    color: #007bff;           /* Blue text color */
    border: 1px solid #007bff; /* Blue border */
    border-radius: 30px;       /* Rounded corners */
    padding: 10px;            /* Smaller padding */
    font-size: 0.875rem;      /* Smaller font size */
  }

  .custom-signup-btn:hover {
    background-color: #f8f9fa; /* Light gray background on hover */
    color: #0056b3;            /* Darker blue on hover */
  }
  .custom-input {
    border: none; /* Remove all borders */
    border-bottom: 1px solid black; /* Bottom border */
    border-radius: 0; /* No rounded corners */
    padding: 10px 0;
    margin-bottom: 50px; /* Vertical padding */
    width: 100%; /* Set width to 100% of the container */
    max-width: 500px;
  }

  .custom-input:focus {
    outline: none; /* Remove default outline */
    border-bottom: 2px solid #0056b3; /* Darker bottom border on focus */
  }
  