<footer>
    <div class="row"> <!-- Removes gutter space between columns -->
      <div class="col-3">
        <p>SHOP</p>
        <br>
        <a href="#"><b>WOMAN</b></a>
        <a href="#"><b>MEN</b></a>
        <a href="#"><b>KIDS</b></a>
        <a href="#"><b>HOME</b></a>
        <a href="#"><b>BEAUTY</b></a>
      </div>
      <div class="col-3">
        <p>CORPORATE INFO</p>
        <br>
        <a href="#"><b>About Us</b></a>
        <a href="#"><b>Careers</b></a>
        <a href="#"><b>Sustainability</b></a>
      </div>
      <div class="col-3">
        <p>HELP</p>
        <br>
        <a href="#"><b>Customer Service</b></a>
        <a href="#"><b>Size Guide</b></a>
        <a href="#"><b>Return Policy</b></a>
      </div>
      <div class="col-3">
        <p>FOLLOW US</p>
        <br>
        <a href="#"><b>Facebook</b></a>
        <a href="#"><b>Instagram</b></a>
        <a href="#"><b>Twitter</b></a>
      </div>
    </div>
    <div class="row">
        <a mat-button href="#" aria-label="logo" class="logo-link">
            <img src="hm-logo-black-and-white.png" alt="">
          </a>
    </div>
    <a href="/login">login</a>
    <a routerLink="login">login-router</a>
  </footer>
  