.login-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    z-index: 1000px;
  }
  
  input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .register-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .register-section p {
    margin-bottom: 10px;
  }
  
  .register-section button {
    background-color: #28a745;
  }
  
  .register-section button:hover {
    background-color: #218838;
  }
  .container {
    height: 100vh;
  }
  
  .card {
    border-radius: 10px;
  }
  .password-container {
    position: relative;
    width: 100%;
    
  }
  
  .input-group {
    position: relative;
    
  }
  
  .form-control {
    padding-right: 40px;
    border-radius: 0px;  /* Tạo khoảng trống cho biểu tượng */
  }
  
  .input-group-text {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
    
  }
  
  .eye-icon {
    font-size: 20px; /* Kích thước biểu tượng */
    color: #000; /* Màu sắc của biểu tượng */
    cursor: pointer;
  }
  .input-group-append {
  display: flex;
  align-items: right;
}