.login-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 50px ;
    padding: 20px;
    margin-top: 100px ;
  }
  
  input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .register-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .register-section p {
    margin-bottom: 10px;
  }
  
  .register-section button {
    background-color: #28a745;
  }
  
  .register-section button:hover {
    background-color: #218838;
  }
  .container {
    height: 100vh;
  }
  
  .card {
    border-radius: 10px;
  }
  .password-container {
    position: relative;
    width: 100%;
    
  }
  
  .input-group {
    position: relative;
    
  }
  
  .form-control {
    padding-right: 40px;
    border-radius: 0px;  /* Tạo khoảng trống cho biểu tượng */
  }
  
  .input-group-text {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
    
  }
  
  .eye-icon {
    font-size: 20px; /* Kích thước biểu tượng */
    color: #000; /* Màu sắc của biểu tượng */
    cursor: pointer;
  }
  .input-group-append {
  display: flex;
  align-items: right;
}
.container {
  /* Change as per the design */
  width: 70%;
  height: 300px;
}

.btn-light {
  border: 1px solid #ddd; /* Match the button borders */
}

.btn-primary {
  background-color: white; /* Change to your primary color */
  border: none; 
  /* Remove border */
  text-decoration-color: #000;
  -webkit-text-fill-color: #000;
  
}

.input-group-text {
  cursor: pointer; /* Change cursor for eye icon */
}

.eye-icon {
  color: #000; /* Change eye icon color */
}
input.form-control
 {
  border: 1px solid black; /* Đổi màu viền và độ dày ở đây */
  border-radius: 3px; /* Tùy chọn: làm tròn góc */
}



.container {
  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
    a {
      color: #007bff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .form-control {
    padding: 10px;
    font-size: 1rem;
  }

  .btn {
    padding: 10px;
    font-size: 1rem;
    i {
      margin-right: 10px;
    }
  }

  .vr {
    width: 1px;
    background-color: #ddd;
    height: 100%;
  }
}