<div class="product-container">
    <section class="product-section">
        <div class="product-header">
            <p class="shop-heading">
                NEW IN
            </p>
            <div class="shop-button">
                <a href="view all">VIEW ALL</a>
            </div>
        </div>
        <ul class="product-ul">
            <li *ngFor="let product of products" class="product-li">
                <a href>
                    <img
                        src="{{product.image}}"
                        alt="{{product.name}}">
                </a>
            </li>
        </ul>
    </section>
</div>